.box {
	margin: 1em;
}

.image {
	width: 15em;
}
.level {
	align-items: normal;
}
.firstTile {
	display: block !important;
}

.plantDataContainer {
	padding-right: 4em;
}

.noHover {
	pointer-events: none;
}
