@import "../global/colors.scss";

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5em;
  margin-right: 5em;
}

.resultsContainer {
  color: $white;
}
.featuredPlantsHeader {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 0.2em solid;
  border-image-source: linear-gradient(to right, #4caf50, #2dffbb);
  border-image-slice: 1;
  padding-top: 5em;
  text-align: center;
}
.results {
  flex-wrap: wrap;
  display: flex;
}
