@import "../global/colors.scss";

.plantCardContainer {
	cursor: zoom-in;
	// background-color: $offBlack;
	// border: 0.2em solid $grey;
	border-radius: 1em;
	padding: 1em;
	margin: 1em;
	width: 12.5em;
}
.containImgAndButton {
	position: absolute;
}
.plantCardDetails {
	grid-area: plantCardDetails;
	display: inline-block;
	position: relative;
	.fa-heart {
		text-align: center;
		outline: 0;
		position: absolute;
		top: 0;
		right: 0;
		margin: 0.2em;
	}
	.expand:hover {
		color: $lightGreen;
		border: 0.2em;
	}
}
.plantCommonName {
	color: $white;
	text-align: center;
}

.plantImage {
	width: 12.5em;
	height: 12.5em;
	object-fit: cover;
}
