@import "bulma/css/bulma.css";
@import "../global/colors.scss";

.plantInspectorContainer {
	overflow: hidden;
}

.Dropdown-control {
	width: 12em;
}

.notification {
	position: inherit;
}

.plantImg {
	object-fit: cover;
}

.modal-card-body {
	border-radius: 1em;
}

.modal-card-head {
	background-color: transparent;
}
.addToHeader {
}
