@import "bulma/css/bulma.css";
@import "../global/colors.scss";

.plantInspectorContainer {
	overflow: hidden;
}
.exitButton {
	position: absolute;
	right: 19px;
}

.Dropdown-control {
	width: 12em;
}

.notification {
	position: inherit;
	margin-bottom: 0.5rem;
}

.plantImg {
	object-fit: cover;
}

.modal-card-body {
	border-radius: 1em;
}

.modal-card-head {
	background-color: transparent;
}
.delete {
	float: right;
}
