@import "bulma/css/bulma.css";
@import "../global/colors.scss";

.plantInspectorContainer {
	overflow: hidden;
}
.exitButton {
	position: absolute;
	right: 19px;
}
.plantInspectorImg {
	object-fit: cover;
	height: 27em;
	width: 28em;
}
