@import "../global/colors.scss";

.plantCardContainer {
	background-color: $offBlack;
	border: 0.2em solid $grey;
	border-radius: 1em;
	padding: 1em;
	margin: 1em;
	width: 12.5em;
}
.containImgAndButton {
	position: absolute;
}
.plantCardDetails {
	grid-area: plantCardDetails;
	display: inline-block;
	position: relative;
	.expand {
		text-align: center;
		background-color: $lightYellow;
		outline: 0;
		width: 1.5em;
		height: 1.5em;
		font-size: 1.5em;
		border-bottom-left-radius: 0.5em;
		position: absolute;
		top: 0;
		right: 0;
	}
	.expand:hover {
		color: $lightGreen;
		border: 0.2em;
	}
}
.plantCommonName {
	color: $white;
	text-align: center;
}

.plantImage {
	width: 12.5em;
	height: 12.5em;
	object-fit: cover;
}
.tags {
	padding-top: 0.5em;
	flex-wrap: wrap;
	display: flex;
}
.tag {
	min-width: 4em;
	color: $black;
	padding-right: 0.5em;
	padding-left: 0.5em;
	margin: 0.2em;
	background-image: linear-gradient(90deg, $lightGreen, $teal);
	border-radius: 2em;
	height: 1.5em;
	font-size: 0.7em;
	text-align: center;
}
.tag:hover {
	background-image: linear-gradient(90deg, $teal, $lightGreen);
}
