@import "../global/colors.scss";

.cardsContainer {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}

.resultsContainer {
	color: $white;
}
.featuredPlantsHeader {
	margin-bottom: 2em;
	padding-bottom: 2em;
	border-bottom: 0.2em solid $lightGreen;
	border-image-slice: 1;
	padding-top: 5em;
	text-align: center;
}
.results {
	flex-wrap: wrap;
	display: flex;
}

.noCollectionAvaiable {
	color: $white;
}
