@import "../global/colors.scss";

.searchPageModalContainer {
  overflow: hidden;
  display: grid;
  .itemNameAndImgContainer {
    width: fit-content;
  }
  // .itemPlantDetailsContainer {

  // }
  .itemAddToCollectionContainer {
    grid-column: 2 / span 1;
    display: inline-grid;
    width: 17em;
    align-items: center;
    justify-content: center;
  }
}
.exitButton {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: white;
  font-size: 1.5em;
}
.searchPageModalImg {
  object-fit: cover;
  width: 28em;
  height: 27em;
}
.dropdownContainer {
  display: flex;
  .dropdownText {
    display: flex;
    align-items: center;
  }
}

.dateAndDropdownContainer {
  display: flex;
}
