@import "../global/colors.scss";

.searchPageModalContainer {
  overflow: hidden;
  display: grid;
  // .itemNameAndImgContainer{

  // }
  // .itemPlantDetailsContainer {

  // }
  .itemAddToCollectionContainer {
    grid-column: 2 / span 1;
  }
}
.exitButton {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: white;
  font-size: 1.5em;
}
.searchPageModalImg {
  object-fit: cover;
  width: 28em;
}
