.landingPageContainer {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.backgroundImg {
	z-index: 1;
	position: absolute;
	object-fit: cover;
	height: 100vh;
}
.CTA {
	z-index: 2;
}

@media screen and (min-width: 280px) and (max-width: 653px) {
	.backgroundImg {
		background-size: cover;
		position: relative;
		height: 115vh;
	}
	.CTA {
		position: absolute;
	}
}
@media screen and (min-width: 1278px) {
	.backgroundImg {
		width: 100vw;
	}
}
