.landingPageContainer {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.backgroundImg {
	z-index: 1;
	position: absolute;
	object-fit: cover;
	height: 100vh;
}
.CTA {
	z-index: 2;
}
