.logo {
  overflow: hidden;
  z-index: 1;
  height: 100vmax;
  pointer-events: none;
}

.CTA {
  p {
    font-size: 2.3em;
    font-family: "Roboto Condensed", sans-serif;
    color: white;
    margin: 0;
  }
  border-top: none;
  border-bottom: none;
  background-image: linear-gradient(to right, #111113, #a7b993);
  border-right: none;
  border-left: none;
  width: 40em;
  height: 6em;
  position: absolute;
  z-index: 2;
  top: 26em;
  opacity: 90.1%;
  box-shadow: 51px 0px 75px 65px #1a2224;
}

.CTA:hover {
  text-decoration: none;
  border-top: 3px solid #fff902;
  border-bottom: 3px solid #fff902;
  p {
    color: #fff902;
  }
}

@media screen and (max-width: 325px) {
  .CTA {
    width: 20em;
    height: 6em;
    top: 18em;
    p {
      font-size: 2em;
    }
  }
}

@media screen and (min-width: 326px) and (max-width: 365px) {
  .CTA {
    width: 20em;
    height: 6em;
    top: 21em;
    p {
      font-size: 2em;
    }
  }
}
@media screen and (max-width: 375px) and (min-width: 369px) {
  .CTA {
    width: 25em;
    height: 7em;
    top: 24em;
    p {
      font-size: 2.5em;
    }
  }
}

@media screen and (max-width: 409px) and (min-width: 376px) {
  .CTA {
    width: 20em;
    height: 5em;
    top: 22em;
    p {
      font-size: 1.75em;
    }
  }
}
@media screen and (min-width: 410px) and (max-width: 654px) {
  .CTA {
    width: 25em;
    top: 24em;
    p {
      font-size: 2.6em;
    }
  }
}

@media screen and (min-width: 655px) and (max-width: 720px) {
  .CTA {
    p {
      font-size: 1.75em;
    }
  }
}

@media screen and (min-width: 721px) and (max-width: 999px) {
  .CTA {
    top: 35em;
    width: 45em;
    height: 9em;
    p {
      font-size: 3.5em;
    }
  }
}
@media screen and (min-width: 1000px) and (max-width: 1025px) {
  .CTA {
    width: 49em;
    height: 12em;
    top: 47em;
    p {
      font-size: 4.3em;
    }
  }
}
@media screen and (min-width: 1026px) {
  .CTA {
    width: 50em;
    height: 10em;
    top: 37em;
    p {
      font-size: 4em;
    }
  }
}
