.logo {
  z-index: 1;
  height: 110vmin;
  border-radius: 15em;
  pointer-events: none;
}

.landingPageContainer {
  display: grid;
}
.CTA {
  font-family: Ringside Regular A, Ringside Regular B, Rubik, Lato,
    Lucida Grande, Lucida Sans Unicode, Tahoma, Sans-Serif;
  color: white;
  background-image: linear-gradient(
    to right,
    #fbfbfb,
    #96af85,
    #172e1e,
    #282c34
  );
  border: none;
  width: 22em;
  height: 4em;
  position: absolute;
  z-index: 2;
  top: 19em;
}
