.logo {
  z-index: 1;
  height: 100vmax;
  pointer-events: none;
}

.CTA {
  p {
    font-size: 2.3em;
    font-family: "Roboto Condensed", sans-serif;
    color: white;
    margin: 0;
  }
  border-top: none;
  border-bottom: none;
  background-image: linear-gradient(to right, #111113, #a7b993);
  border-right: none;
  border-left: none;
  width: 40em;
  height: 6em;
  position: absolute;
  z-index: 2;
  top: 26em;
  opacity: 90.1%;
  box-shadow: 51px 0px 75px 65px #1a2224;
}

.CTA:hover {
  text-decoration: none;
  border-top: 3px solid #fff902;
  border-bottom: 3px solid #fff902;
  p {
    color: #fff902;
  }
}

@media screen and (min-width: 279px) and (max-width: 654px) {
  .CTA {
    width: 80%;
    height: 5em;
    top: 21em;
    p {
      font-size: 1.75em;
    }
  }
}
@media screen and (min-width: 410px) and (max-width: 824) {
  .CTA {
    top: 25em;
    p {
      font-size: 1.75em;
    }
  }
}

@media screen and (min-width: 539px) and (max-width: 720px) {
  .CTA {
    p {
      font-size: 1.75em;
    }
  }
}

@media screen and (min-width: 677px) and (max-width: 1025px) {
  .CTA {
    width: 40em;
    height: 10em;
    p {
      font-size: 3em;
    }
  }
}
@media screen and (min-width: 1023px) and (max-width: 1367px) {
  .CTA {
    width: 48em;
    height: 9em;
    top: 30em;
    p {
      font-size: 3em;
    }
  }
}
